<template>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-12"><router-link :to="{name:'projects'}" class="btn btn-primary"><i class="icon-arrow-left"></i>Back</router-link></div>
					</div>
				</div>
				<div class="panel-body">
					<div class="col-md-12" :class="{'spinner':loading}">
						<form action="#" @submit.prevent="submit">
							<div class="col-md-6 col-md-offset-3">
								<div class="form-group" :class="{'has-error':projectForm.errors.name}">
									<label for="tasktile">Project Name</label>
									<input type="text" class="form-control" id="name" v-model="projectForm.name">
									<span class="help-block" v-if="projectForm.errors.name">
										{{projectForm.errors.name[0]}}
									</span>
								</div>
								<div class="form-group">
									<button type="submit" class="btn btn-primary">{{submitBtn}}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data(){
		return {
			projectForm:{
				name:null,
				errors:[]
			},
			loading:false,
			submitBtn:'Submit'
		}
	},
	methods:{
		submit(){
			loading:true
			submitBtn:'Please wait'
			return axios.post('/api/projects/store',this.projectForm).then((response) =>{
				console.log(response.data)
				loading:false
				submitBtn:'Submit'
				this.$router.replace({name:'projects'})
			}).catch((error)=>{
				loading:false
				submitBtn:'Submit'
				console.log(error)
			})
		}
	}
}
</script>