<template>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-6">Projects</div>
						<div class="col-md-6"><router-link :to="{name:'project-form'}" class="btn btn-primary pull-right"><i class="icon-plus"></i> New Project</router-link></div>
					</div>
				</div>
				<div class="panel-body">
					<div class="col-md-8 col-md-offset-2">
						<ul class="list-group">
						<li class="list-group-item active">Projects</li>
						<li v-if="projects.length" v-for="project in projects" class="list-group-item">{{project.name}}</li>
						<li v-if="!projects.length" class="list-group-item">{{records}}</li>
					</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data(){
		return {
			projects:[],
			records:'No records found'

		}
	},
	mounted(){
		this.getProjects()
	},
	methods:{
		getProjects(){
			this.records = 'Loading projects..'
			return axios.get('/api/projects').then((response)=>{
				this.projects	= response.data.data
				this.records	= 'No records found'
			})
		}
	}
}
</script>
