<template>
    <div>
        <!-- Header Navigation -->
        <navigation></navigation>

        <div class="container">
            <router-view></router-view>
        </div>
    </div>
</template>
