<template>
	<div>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">

					<!-- Collapsed Hamburger -->
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse" aria-expanded="false">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<!-- Branding Image -->
					<router-link :to="{name:'tasks'}" class="navbar-brand" >Coalition Tasks</router-link>
				</div>

				<div class="collapse navbar-collapse" id="app-navbar-collapse">
					<!-- Left Side Of Navbar -->
					<ul class="nav navbar-nav">
					<router-link :to="{name:'projects'}" tag="li"><a>Projects</a></router-link>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Jacinto Joao</a></li>
					</ul>

					<!-- Right Side Of Navbar -->
					<ul class="nav navbar-nav navbar-right" >
						<!-- Authentication Links -->
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">
							</a>
						</li>

					</ul>
				</div>
			</div>
		</nav>
	</div>
</template>