
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

//custom spinner

.spinner {
    position: relative
}
.spinner:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8) url('/img/cubes_loader.gif') no-repeat 50% 50%;
    visibility: visible;
    z-index: 5000;
}
