<template>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-12"><router-link :to="{name:'tasks'}" class="btn btn-primary"><i class="icon-arrow-left"></i>Back</router-link></div>
					</div>
				</div>
				<div class="panel-body">
					<div class="col-md-12" :class="{'spinner':loading}">
						<form action="#" @submit.prevent="submit">
							<div class="col-md-6 col-md-offset-3">
								<div class="form-group" :class="{'has-error':taskForm.errors.project_id}">
									<label for="project">Project</label>
									<v-select v-model="taskForm.project_id" label="name" :options="projects"></v-select>
									<span class="help-block" v-if="taskForm.errors.project_id">
										<strong>{{taskForm.errors.project_id[0]}}</strong>
									</span>
								</div>
								<div class="form-group" :class="{'has-error':taskForm.errors.task_title}">
									<label for="tasktile">Title</label>
									<input type="text" class="form-control" id="task_title" v-model="taskForm.task_title">
									<span class="help-block" v-if="taskForm.errors.task_title">
										<strong>{{taskForm.errors.task_title[0]}}</strong>
									</span>
								</div>
								<div class="form-group" :class="{'has-error':taskForm.errors.task_description}">
									<label for="tasktile">Title</label>
									<textarea name="" id=""  rows="2" class="form-control" id="task_description" v-model="taskForm.task_description"></textarea>
									<span class="help-block" v-if="taskForm.errors.task_description">
										<strong>{{taskForm.errors.task_description[0]}}</strong>
									</span>
								</div>
								<div class="form-group text-center">
									<button type="submit" class="btn btn-primary">{{submitBtn}}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	data () {
		return {
			taskForm:{
				project_id:null,
				task_title:null,
				task_description:null,
				errors:[]
			},
			projects:[],
			loading:false,
			submitBtn:'Submit'
		}
	},
	methods:{
		getProjects(){
			return axios.get('/api/projects/select').then((response)=>{
				this.projects = response.data.data
			}).catch((error)=>{
				console.log(error)
			})
		},

		submit (){
			this.loading = true
			this.submitBtn = "Please wait.."
			if(this.$route.params.id === undefined){

			return axios.post('/api/tasks/store',this.taskForm).then((response)=>{
				this.$router.replace({name:'tasks'})
			}).catch((error)=>{
				this.taskForm.errors = error.response.data.errors
				this.submitBtn = "Submit"
				this.loading = false
			})
		}else{

			return axios.patch('/api/tasks/update/'+this.$route.params.id,this.taskForm).then((response)=>{
				this.$router.replace({name:'tasks'})
			}).catch((error)=>{
				this.taskForm.errors = error.response.data.errors
				this.submitBtn = "Save"
				this.loading = false
			})
		}
		},
		getTask(taskId) {
			this.loading = true;
			this.submitBtn = 'Save'
			return axios.get('/api/tasks/edit/'+taskId).then((response)=>{
				this.taskForm.project_id = this.projects.find(x =>x.id = response.data.data.project_id)
				this.taskForm.task_title = response.data.data.task_title
				this.taskForm.task_description = response.data.data.task_description
				this.loading = false
			})
		}
	},

	mounted(){
		if(this.$route.params.id === undefined){
			this.getProjects()
		}else{
			this.getProjects()
			this.getTask(this.$route.params.id)
		}
		
	}
}
</script>