<template>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-6">Tasks</div>
						<div class="col-md-6"><router-link :to="{name:'task-form'}" class="btn btn-primary pull-right"><i class="icon-plus"></i> New Task</router-link></div>
					</div>
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-stripped">
							<thead>
								<tr>
									<th>Project Name</th>
									<th>Task Tile</th>
									<th>Description</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr v-if="tasks.length" v-for="task in tasks">
									<td>{{task.project.name}}</td>
									<td>{{task.task_title}}</td>
									<td>{{task.task_description}}</td>
									<td>
										<router-link :to="{name:'task-form-update',params: {id: task.id}}" class="btn btn-primary btn-sm">Edit</router-link>	
										<a href="#" class="btn btn-danger btn-sm" @click.prevent="remove(task.id)"> Delete</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {

	data () {
		return {
			tasks:[]
		}
	},
	methods:{
		getTasks () {
			return axios.get('/api/tasks').then((response)=>{
				this.tasks = response.data.data
			}).catch((error)=>{
				console.log(error);
			})
		},

		remove(taskId) {
			this.$dialog.confirm("If you delete this Task, it'll be gone forever. Are you sure?", {
				loader: true 
			})
			.then((dialog) => {
				axios.delete('/api/tasks/destroy/'+taskId).then((response)=>{
					let idx = this.tasks.findIndex(i => i.id === taskId)
					this.tasks.splice(idx,1)
					dialog.close();
				}).catch((error)=>{
					console.log(error);
					dialog.close()
				});

			})
			.catch(() => {
        // Triggered when cancel button is clicked

        console.log('Delete aborted');
    });
		}
	},

	mounted () {
		this.getTasks()
	}
}
</script>